<h2>Shane's Tea Shop</h2>
<p>Please contact us with if you would like to ask us something. Use the link below to send us a message.</p>

<email address="info@@shanesteashop.com"  content="Contact us"></email>