@model AddReviewViewModel
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h2>Please Add a review.</h2>

<form asp-controller="Review" asp-action="AddReview" method="post" class="form-horizontal" role="form">

    <h4>Enter your details below</h4>
    <hr />
    <input type="hidden" asp-for="ReviewedBy" />
    <input type="hidden" asp-for="TeaId" />
    

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ReviewTitle" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ReviewTitle" class="form-control" />
            <span asp-validation-for="ReviewTitle" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ReviewText" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ReviewText" class="form-control" />
            <span asp-validation-for="ReviewText" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Rating" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Rating" type="radio" value="1" /> 1
            <input asp-for="Rating" type="radio" value="2" /> 2
            <input asp-for="Rating" type="radio" value="3" /> 3
            <input asp-for="Rating" type="radio" value="4" /> 4
            <input asp-for="Rating" type="radio" value="5" /> 5
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Add Review" />
        </div>
    </div>

</form>