@model ShoppingCartViewModel
@*<li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>*@

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="nav-item">
        <a class="nav-link" href="#">
                <i class="fas fa-shopping-cart"></i>
                @Model.ShoppingCart.ShoppingCartItems.Count
        </a>
    </li>
}